/* body {
    background: #ebcf34;
} */

body {
    background-color: #efd330;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10%;
    margin-left: 10%;
    font-family: sans-serif;
}

/* navbar */
.topnav {
    overflow: hidden;
    margin-top: 5%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 15px 29px;
    border-radius: 12px;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #16a8738f;
    color: rgb(0, 0, 0);
    padding: 15px 29px;
    border-radius: 12px;
  }

h1 {
    font-size: 5rem;
    margin-top: 5rem;
    text-align: left;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
  
img {
    max-width: 100%;
    max-height: 100%;
}
  
button {
    background-color: #16a8738f;
    border: none;
    border-radius: 12px;
    color: rgb(0, 0, 0);
    padding: 15px 29px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

button:hover {
    background-color: #595954; 
    color: white;
  }

.text {
    font-size: 20px;
    padding-left: 50px;
    text-align: justify;
}

table, th, td {
  border: 1px solid #efd330;
  border-collapse: collapse;
  border-radius: 10px;
}
th, td {
  background-color: #16a8738f;
  padding: 20px;
}